@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-Links: #F8F8F8;
  --color-prf: #F7F7F7;
  --color-Arriba: #2FEBD8;
  --color-Abajo: #540CE1;
  --color-medio: #5911D6;
}

hr{
  width: 50%;
}

body{
  font-family: 'Open Sans', sans-serif;
}